In [10]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web
from datetime import datetime
start = datetime(2015, 2, 9)
end = datetime(2017, 5, 24)
f = web.DataReader('F', 'morningstar', start, end)
data = f.head()
data?
data

                   Close   High    Low   Open    Volume
Symbol Date
F      2015-02-09  15.92  16.03  15.72  15.76  20286720
       2015-02-10  16.09  16.14  15.91  16.05  27928530
       2015-02-11  16.25  16.31  16.01  16.08  34285331
       2015-02-12  16.36  16.45  16.30  16.34  23738806
       2015-02-13  16.30  16.36  16.19  16.33  19954568

In [11]:
data.dtypes

Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
dtype: object

In [13]:
data.Close9:

Symbol  Date
F       2015-02-09    15.92
        2015-02-10    16.09
        2015-02-11    16.25
        2015-02-12    16.36
        2015-02-13    16.30
Name: Close, dtype: float64